<p>error-page works!</p>
<ul>
    <li>
        <a href="/auth">
            login
        </a>
    </li>
    <li>
        <a href="auth/register">
            Ir a registro
        </a>
    </li>
    <li>
        <a href="characters/list">
            ir a list
        </a>
    </li>
    <li>
        <a href="characters/search">
            ir a search
        </a>
    </li>
    <li>
        <a href="characters/character">
            ir a character
        </a>
    </li>
    <li>
        <a href="characters/home">
            ir a home
        </a>
    </li>
</ul>
